@import "colors.scss";
@import "shadows.scss";

#app {
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0px;
  min-height: 100vh;
}

::selection {
  background: #b7fbe28c;
}

.dark {
  background-color: #262c30;
  p, h1, h2, div, td, h3, h4 {
    color: #eee;
  }
}

textarea, option, select, input {
  font-family: 'Mulish', sans-serif;
}

select {
  padding: 1px;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
}
.horizontalFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontalFlexLeft {
  display: flex;
  flex-direction: row;
}
.inlineFlex {
  display: inline-flex;
}
.flexWrap {
  flex-wrap: wrap;
}

.alignCenter {
  align-items: center;
}
.alignSelfCenter {
  align-self: center;
}
.alignItemsStart {
  align-items: flex-start;
}
.alignItemsCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.justifyStart {
  justify-content: flex-start;
}

.width100 {
  width: 100%;
}

.cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

.positionRelative {
  position: relative;
}

.scrollingTableContainer {
  overflow-x: auto;
  max-width: 100%;
  td, th {
    word-break: normal;
    word-wrap: none;
  }
  table {
    white-space: nowrap;
  }
}

.marginAuto {
  margin: auto;
}
.m-0 {
  margin: 0 !important;
}
.m-2 {
  margin: 2px;
}
.m-4 {
  margin: 4px;
}
.m-8 {
  margin: 8px;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-2 {
  margin-top: 2px;
}
.mt-4 {
  margin-top: 0.25rem;
}
.mt-8 {
  margin-top: 0.5rem;
}
.mt-10 {
  margin-top: 10px;
}
.mt-12 {
  margin-top: 0.75rem;
}
.mt-16 {
  margin-top: 1rem;
}
.mt-32 {
  margin-top: 2rem;
}
.mt-48 {
  margin-top: 3rem;
}
.mt-64 {
  margin-top: 4rem;
}
.pt-32 {
  padding-top: 2rem;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 1px;
}
.mb-4 {
  margin-bottom: 0.25rem;
}
.mb-8 {
  margin-bottom: 0.5rem;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-16 {
  margin-bottom: 1rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.mb-32 {
  margin-bottom: 2rem;
}
.mb-48 {
  margin-bottom: 3rem;
}
.ml-0 {
  margin-left: 0;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-32 {
  margin-left: 32px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 0.5rem;
}
.mr-12 {
  margin-right: 0.75rem;
}
.mr-16 {
  margin-right: 16px;
}
.mr-32 {
  margin-right: 32px;
}
.mr-40 {
  margin-right: 2.5rem;
}

.simpleShadow {
  @include simpleshadow;
}
.simpleShadowNoHover {
  @include simpleshadowNoHover;
}
.simpleShadowSmall {
  @include simpleshadowSmall;
}

.dark {
  input:not(.paddedInput):not([type=range]), textarea {
    background: rgb(22, 26, 29);
    border: 1px solid #666;
    color: white;
  }

  option, select {
    background: rgb(22, 26, 29);
    color: white;
    border: 1px solid #666;
  }
}
